{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        {% if can_take_screenshot %}
        <a href="{% url 'admin:flipstarterdirectory_flipstarter_screenshot' original.pk %}" class="grp-state-focus">Screenshot Flipstarter</a>
        {% endif %}
    </li>
    <li>
        <a href="{% url 'admin:flipstarterdirectory_flipstarter_refresh' original.pk %}" class="grp-state-focus">Refresh Flipstarter Status</a>
    </li>
    {{ block.super }}
{% endblock %}